body{
    margin: 0px;
    padding: 0px;
    background-color: #011627;
    color: #fdfffc;
    text-align: center;
    background-image: url(https://png.pngtree.com/background/20230613/original/pngtree-galaxy-wallpaper-backgrounds-free-picture-image_3408160.jpg);
    background-position: center;
    background-repeat: no repeat;
    height: 100vh;
}
h1{
    font-size: 45px;
}

input{
    width: 75px;
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    color: black;

}

.btn:hover{
    background-color: yellow;
    cursor: pointer;

}